################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/BCT.Common.LogParsing/obj
/BCT.Common.LogParsing.Console/obj
/Output
